body{
    margin: 0px;
    padding:0px;
    font-family: poppins;
    background-color: rgba(151, 151, 151,0.03);
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: solid rgba(7, 7, 7, 0.04);
    background-color: rgb(15, 15, 15);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    

}

.logo img{
    height: 35px;

}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:rgb(247, 241, 241);
    letter-spacing: 1px;
    

}
.search{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 200px;
    padding: 0px 15px;
    
}
.search input{
    width: 100%;
    height: 30px;
    border: none;
}
#btn1{
    size: 200px;
}
nav .menu li a:hover{
    background-color:grey;
    color: white;
    box-shadow: 5px 10px 30px rgb(53, 53,53);
    transition: all ease 0.2s;
}
#main{
    padding-top: 80px;
    background-color: aliceblue;
}
.showcase-box{
    width: 430px;
    height: 250px;
    box-shadow: 5px 15px 30px black;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #1a1a1a;
}
.cs-hidden{
    overflow: visible !important;
}
#latest{
    border-top: 1px solid black;
}
.latest-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.latest-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    background-color: white;
}
.latest-b-image{
    width: 100%;
    height:270px;
    
}
.latest-b-image img{
    width: 100%;
    height:100%;
    object-fit: cover;
    
}
.latest-b-text strong{
    color: #3a3a3a;
    margin: 0px;

}
.latest-b-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.latest-b-text p{
    color: #979797;
    margin: 0px;
}
.movies-heading h2{
    font-weight: 400;
    margin: 0px;
    padding-left: 5px 20px;
    background-color: rgb(255, 252, 252);
    border: 1px solid rgb(29, 28, 28);
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
}
.movies-heading{
    display: flex;
    margin: 0px 2%;
}
.movies-box{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    border-top: 3px solid #292929;

}
.movies-img{
    width:100%;
    height: 400px;
    
    position: relative;
}
.movies-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movies-box a{
    text-align: center;
    display: block;
    font-weight: 600;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
    margin: 20px;
}
.movies-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.2 sec;
}
.movies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quality{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1f1f1f;
    color: white;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;

}
.btns a{
    width: 130px;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(135, 135, 238);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
.btns a:hover{
    background-color: #284fd1;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top:  1px solid black;

}
footer p{
    color: grey;
    margin: 10px 0px;
    font-size: 0.9 rem;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 70px;
        padding:0px 10px;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background: rgb(6, 6, 6);
        border-bottom: 4px solid black;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        width: 100%;
        height: 40px;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 0.5px solid rgb(42, 40, 40);
        color: #1f1f1f;
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        display: block;
    }
    nav .menu-icon .nav-icon{
        background-color: gray;
        display: block;
        height: 2px;
        position: relative;
        transition:  background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon::before,
    nav .menu-icon .nav-icon::after{
        background: grey;
        content: '';
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s ;
        width: 100%;
    }
    nav .menu-icon .nav-icon::before{
        top: -5px;
    }
    nav .menu-icon .nav-icon::after{
        top: -5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
        background:transparent;

    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top:0
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    
  
}
@media(max-width:680px){
    .showcase-box{
        max-width: 300px;
        height: 180px;
        margin: 10px;
    }
    .latest-box{
        width: 190px;
    }
}